{% extends "main/base.html" %}
{% load static %}

{% block content %}
          <div id="header">
            <div class="header-text">
              <p >Elhy Tablazon</p>
              <span>Software Engineer</span>
              <br>
              <span>
                <i class="fa-brands fa-python"></i>
                <img src="{% static 'images/django.png' %}" alt="">
                <i class="fa-brands fa-html5"></i>
                <i class="fa-brands fa-css3-alt"></i>
                <i class="fa-brands fa-js"></i>
              </span>  
            </div>
          </div>


          <div id="portfolio">
            <div class="container">
              <h1 class="subtitle">My Project Collection</h1>
              <div class="work-list">
                <div class="work">
                  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img class="d-block w-100" src="{{ standalone.category_image.url }}" >
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" src="{% static 'images/mj-2.png' %}" >
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" src="{% static 'images/mj-3.png' %}" >
                          </div>
                    </div>
                  </div>
                  <div class="layer">
                    <h3>{{ standalone.category_name }}</h3>
                    <p>
                      {{ standalone.category_description }}
                    </p>
                    <small>View Live Site</small>
                    <a target="_blank" href="https://mjmarketplace.pythonanywhere.com"><i class="fa-solid fa-arrow-up-right-from-square fa-xl"></i></a>
                  </div>
                </div>
                {% for items in projects.items %}
                <div class="work">
                  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      {% for project in items.1 %}
                        {% if forloop.first %}
                          <div class="carousel-item active">
                            <img class="d-block w-100" src="{{ project.project_image.url }}" >
                          </div>
                        {% else %}
                          <div class="carousel-item">
                            <img class="d-block w-100" src="{{ project.project_image.url }}" >
                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                  <div class="layer">
                    <h3>{{ items.0.category_name }}</h3>
                    <p>
                      {{ items.0.category_description }}
                    </p>
                    <small>View Project Collection</small>
                    <a href="{% url 'collection-details' items.0.id %}"><i class="fa-solid fa-arrow-up-right-from-square fa-xl"></i></a>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <a target="_blank" href='https://github.com/atelicious' class="btn">View More Projects</a>
          </div>

          <div id="certificates">
            <div class="container">
              <h1 class="subtitle">Certificates</h1>
              <div class="cert-list">
                {% for certificate in certificates %}
                <div class="cert">
                  <img src="{{ certificate.certificate_image.url }}"/>
                  <div class="layer">
                    <p class="cert-desc">
                      {{ certificate.certificate_description }}
                    </p>
                    <small>View Live Certificate</small>
                    <a href="{{ certificate.certificate_url }}" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>

          <div class="about">
            <div class="container">
              <div class="row">
                <div class="about-col-1">
                  <img class='img-fluid' src="{% static 'images/about-2.png' %}">
                </div>
                <div class="about-col-2">
                  <h1 class="subtitle">About Me</h1>
                  <p class="text-wrap">
                    {{ user.about_me|linebreaks }}
                  </p>

                  <div class="tab-titles">
                    <div class="tab-links active-link" onclick="opentab('skills')">Skills</div>
                    <div class="tab-links" onclick="opentab('experience')">Experience</div>
                    <div class="tab-links" onclick="opentab('education')">Education</div>
                  </div>

                  <div class="tab-contents active-tab" id="skills">
                    <p><span>Programming Languages</span><br>Python, JavaScript, HTML5, CSS3, SQL</p>
                    <p><span>Frameworks / Libraries</span><br>Django, Flask, Numpy, Matplotlib, Seaborn, React, NodeJS, Express</p>
                    <p><span>Versioning Tools</span><br>Git, Github</p>
                  </div>
                  <div class="tab-contents" id="experience">
                    <p><span>October 2021 - Present</span><br>Data Preparation and Extraction Freelancer | Clickworker</p>
                    <p><span>January 2021 - June 2021</span><br>Software Engineer | Adipster Tech Limited</p>
                    <p><span>July 2019 - December 2020</span><br>Data Analyst | Top Market Marketing</p>
                  </div>
                  <div class="tab-contents" id="education">
                    <p><span>2014 - 2019</span><br>BS Civil Engineering | University of Baguio</p>
                    <p><span>2010 - 2014</span><br>Secondary Education | Liceo de San Pablo</p>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="bg-social container" id='social'>
            <h2 class="subtitle">Social Media</h2>
            <p>You can find me on</p>
            <ul class='social-links'>
              <li><a href="https://www.linkedin.com/in/elhy-tablazon" target='_blank' class="fab fa-linkedin" id='profile-link'></a></li>
              <li><a href="https://github.com/atelicious" target='_blank' class="fab fa-github" id='profile-link'></a></li>
              <li><a href="https://www.freecodecamp.org/atelicious" target='_blank' class="fab fa-free-code-camp" id='profile-link'></a></li>
              <li><a href="https://codepen.io/atelicious" target='_blank' class="fab fa-codepen" id='profile-link'></a></li>
              <li><a href="https://repl.it/@atelicious" target='_blank' class="fab fa-replyd" id='profile-link'></a></li>
              <li><a href="mailto:elhytablazon@yahoo.com.ph" target='_blank' class="fas fa-at" id='profile-link'></a></li>
            </ul>
          </div>
 

{% endblock content %}