{% extends "main/base.html" %}
{% load static %}

{% block content %}
          <div id="header">
            <div class="header-text">
              <p >Elhy Tablazon</p>
              <span>Software Engineer</span>
              <br>
              <span>
                <i class="fa-brands fa-python"></i>
                <img src="{% static 'images/django.png' %}" alt="">
                <i class="fa-brands fa-html5"></i>
                <i class="fa-brands fa-css3-alt"></i>
                <i class="fa-brands fa-js"></i>
              </span>  
            </div>
          </div>


          <div id="portfolio">
            <div class="container">
              <h1 class="subtitle">My Work</h1>
              <div class="work-list">
                <div class="work">
                  <img src="https://github.com/atelicious/projects-under-rwd-fcc/blob/main/Tribute%20Page/tp-thumbnail.png?raw=true"/>
                  <div class="layer">
                    <h3>Project 1</h3>
                    <p>
                      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                      ex ea commodo consequat.
                    </p>
                    <small>View Collection</small>
                    <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                  </div>
                </div>
                <div class="work">
                  <img src="https://github.com/atelicious/projects-under-rwd-fcc/blob/main/Tribute%20Page/tp-thumbnail.png?raw=true"/>
                  <div class="layer">
                    <h3>Project 1</h3>
                    <p>
                      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                      ex ea commodo consequat.
                    </p>
                    <small>View Collection</small>
                    <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                  </div>
                </div>
                <div class="work">
                  <img src="https://github.com/atelicious/projects-under-rwd-fcc/blob/main/Tribute%20Page/tp-thumbnail.png?raw=true"/>
                  <div class="layer">
                    <h3>Project 1</h3>
                    <p>
                      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                      ex ea commodo consequat.
                    </p>
                    <small>View Collection</small>
                    <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                  </div>
                </div>
                <div class="work">
                  <img src="https://github.com/atelicious/projects-under-rwd-fcc/blob/main/Tribute%20Page/tp-thumbnail.png?raw=true"/>
                  <div class="layer">
                    <h3>Project 1</h3>
                    <p>
                      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                      ex ea commodo consequat.
                    </p>
                    <small>View Collection</small>
                    <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                  </div>
                </div>
                <div class="work">
                  <img src="https://github.com/atelicious/projects-under-rwd-fcc/blob/main/Tribute%20Page/tp-thumbnail.png?raw=true"/>
                  <div class="layer">
                    <h3>Project 1</h3>
                    <p>
                      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                      ex ea commodo consequat.
                    </p>
                    <small>View Collection</small>
                    <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                  </div>
                </div>
                <div class="work">
                  <img src="https://github.com/atelicious/projects-under-rwd-fcc/blob/main/Tribute%20Page/tp-thumbnail.png?raw=true"/>
                  <div class="layer">
                    <h3>Project 1</h3>
                    <p>
                      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                      ex ea commodo consequat.
                    </p>
                    <small>View Collection</small>
                    <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <a href='' class="btn">View More Projects</a>
          </div>

          <div id="portfolio">
            <div class="container">
              <h1 class="subtitle">Certificates</h1>
              <div class="work-list">
                <div class="work">
                  <img src="https://github.com/atelicious/sample/blob/main/SCWP.png?raw=true"/>
                  <div class="layer">
                    <h3>Project 1</h3>
                    <p>
                      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                      dolore magna aliqua.
                    </p>
                    <small>View Collection</small>
                    <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                  </div>
                </div>
                <div class="work">
                  <img src="https://github.com/atelicious/sample/blob/main/SCWP.png?raw=true"/>
                  <div class="layer">
                    <h3>Project 1</h3>
                    <p>
                      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                      dolore magna aliqua.
                    </p>
                    <small>View Collection</small>
                    <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                  </div>
                </div>
                <div class="work">
                  <img src="https://github.com/atelicious/sample/blob/main/SCWP.png?raw=true"/>
                  <div class="layer">
                    <h3>Project 1</h3>
                    <p>
                      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                      dolore magna aliqua.
                    </p>
                    <small>View Collection</small>
                    <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                  </div>
                </div>
                <div class="work">
                  <img src="https://github.com/atelicious/sample/blob/main/SCWP.png?raw=true"/>
                  <div class="layer">
                    <h3>Project 1</h3>
                    <p>
                      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                      dolore magna aliqua.
                    </p>
                    <small>View Collection</small>
                    <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                  </div>
                </div>
                <div class="work">
                  <img src="https://github.com/atelicious/sample/blob/main/SCWP.png?raw=true"/>
                  <div class="layer">
                    <h3>Project 1</h3>
                    <p>
                      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                      dolore magna aliqua.
                    </p>
                    <small>View Collection</small>
                    <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                  </div>
                </div>
                <div class="work">
                  <img src="https://github.com/atelicious/sample/blob/main/SCWP.png?raw=true"/>
                  <div class="layer">
                    <h3>Project 1</h3>
                    <p>
                      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                      dolore magna aliqua.
                    </p>
                    <small>View Collection</small>
                    <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="about">
            <div class="container">
              <div class="row">
                <div class="about-col-1">
                  <img class='img-fluid' src="{% static 'images/about.png' %}">
                </div>
                <div class="about-col-2">
                  <h1 class="subtitle">About Me</h1>
                  <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
                    in culpa qui officia deserunt mollit anim id est laborum."
                  </p>

                  <div class="tab-titles">
                    <div class="tab-links active-link" onclick="opentab('skills')">Skills</div>
                    <div class="tab-links" onclick="opentab('experience')">Experience</div>
                    <div class="tab-links" onclick="opentab('education')">Education</div>
                  </div>

                  <div class="tab-contents active-tab" id="skills">
                    <p><span>Programming Languages</span><br>Python Js</p>
                    <p><span>Programming Languages</span><br>Python Js</p>
                    <p><span>Programming Languages</span><br>Python Js</p>
                  </div>
                  <div class="tab-contents" id="experience">
                    <p><span>2020-2020</span><br>Company A</p>
                    <p><span>2020-2020</span><br>Company A</p>
                    <p><span>2020-2020</span><br>Company A</p>
                  </div>
                  <div class="tab-contents" id="education">
                    <p><span>2020-2020</span><br>School A</p>
                    <p><span>2020-2020</span><br>School A</p>
                    <p><span>2020-2020</span><br>School A</p>
                  </div>

                </div>
              </div>
            </div>
          </div>
 

{% endblock content %}